{% extends "calleasy_firstapp/base.html" %}
{% load static %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">
    <h1>Contact Us</h1>
    <p>
    </p>
    <img src="{% static "images/me.jpg" %}" height="210" width="200" alt="Uh Oh, didn't show!">
    <p>
      Developer
    </p>
    <p>Our website provides fast services at a single call.</p>
    <p>
    </p>
    <h3>Contact us:</h3>
    <h4>+91 7082080222</h4>
    <h4>mohitkumar06612@gmail.com</h4>

  </div>
</div>

{% endblock %}
